body
    background: $color__blue--dark
    font-family: $font__family--brand
    color: #fff
    
    &:before
        content: ""
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url(../images/padrao.png)
        opacity: .05

a
    transition: .25s

    &:hover
        text-decoration: none