.content
    position: relative
    width: 100%
    font-size: 1.8rem

    &.--detail:before
        content: ""
        width: 56px
        height: 54px
        position: absolute
        background: url(../images/icons/right-yellow.svg) no-repeat
        background-size: contain
        transform: translate(calc(-100% - 15px), -15px)

.fb-post
    background: #fff