.hero
    padding-bottom: 125px
    background: $color__blue--dark

    .fb-post
        margin-top: 20px
        position: relative

        &:before
            content: ""
            position: absolute
            top: 100%
            right: 100%
            width: 112px
            height: 130px
            background: url(../images/icons/direction-up.svg) center no-repeat
            z-index: 10
            transform: translate(40px, -80px)

    .--max-width
        max-width: 385px

    .sessao
        max-width: 490px