.main-header
    float: left
    width: 100%
    position: relative
    border-bottom: 3px solid #fff
    overflow: visible
    margin-bottom: 60px

    &:before,
    &:after
        content: ""
        position: absolute
        top: 0
        background-size: contain
        width: 100%
    
    &:before
        left: 0
        height: 233px
        background: url('../images/graphic/header-left.png') top left no-repeat

        @media (max-width: 992px)
            display: none

    &:after
        right: 0
        height: 324px
        background: url('../images/graphic/header-right.png') top right no-repeat

        @media (max-width: 1200px)
            display: none        

    .main-header__body
        display: flex
        flex-wrap: wrap
        width: 100%
        min-height: 230px
        position: relative
        align-items: center
        overflow: visible

        .main-header__logo

            span
                display: block
                text-align: center
                font-family: $font__family--brand
                font-size: 1.4rem
                font-weight: 600
                line-height: 1.5
                color: #fff
                margin: 10px 0

            &:after
                content: ""
                display: inline-block
                width: 296px
                height: 205px
                background: url(../images/logo.png)
                background-size: contain
                background-repeat: no-repeat

            @media (min-width: 1200px)
                position: absolute
                top: 10px
                right: 140px

            @media (max-width: 1200px)
                span
                    display: none
                    

        .main-header__title
            margin-left: 20px

            h1, h2, h3, h4, h5, h6
                display: inline
                background: $color__brand--primary
                color: $color__brand--secondary
                font-size: 5rem
                font-weight: 600
                line-height: 1.15
                margin: 0

                @media (min-width: 640px)
                    box-shadow: 0 5px 0 10px $color__brand--primary, 10px 5px 0 10px $color__brand--primary, -10px 5px 0 10px $color__brand--primary

            @media (max-width: 1200px)
                margin-left: auto

            @media (max-width: 992px)
                margin-left: 20px
                margin-top: 30px

            @media (max-width: 640px)
                h1, h2, h3, h4, h5, h6
                    font-size: 3rem

        @media (max-width: 992px)
            flex-wrap: wrap

    .main-header__next
        position: absolute
        top: 100%
        width: 100%
        color: #fff
        margin: 3px 0 0 15px
        z-index: 99
        cursor: pointer

        ul
            display: flex
            list-style: none
            padding: 0
            width: 100%
            
            li
                padding: 10px 20px
                line-height: 1
                font-size: 1.8rem
                font-weight: 600

                &:nth-child(1)
                    background: $color__blue--light
                    color: #333

                &:nth-child(2)
                    background: $color__blue

                &:nth-child(3)
                    background: $color__yellow
                    color: $color__blue

        @media (max-width: 640px)
            position: relative
            margin-top: 30px

            ul
                flex-wrap: wrap          

                li
                    font-size: 1.5rem      

    @media (max-width: 992px)
        background: url('../images/ilustracao.png') top left no-repeat
        background-size: cover