// bootstrap
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss"

// variables
@import "variables"

// base
@import "base/generals"

// layout
@import "layout/main-header"
@import "layout/hero"

// Components
@import "components/content"


main
    display: inline-block
    width: 100%
    margin-bottom: 225px

.styled
    float: left
    display: inline-block
    width: 100%

    *
        font-size: 4.8rem
        font-weight: 600
        color: $color__brand--primary
        display: inline-block
        position: relative
        
        &:before
            content: ""
            width: 44px
            height: 42px
            position: absolute
            background: url(../images/icons/bottom.svg) center no-repeat
            background-size: contain
            left: 100%
            top: 10px
            margin-left: 15px

.sessao
    float: left
    width: 100%
    background: #fff
    font-size: 1.8rem
    color: #333
    align-items: stretch
    display: flex

    .sessao__body
        padding: 20px
        flex: 1 0 auto

        strong
            font-weight: 400
            color: $color__brand--secondary

    .sessao__aside
        background: $color__brand--secondary
        max-width: 170px
        font-size: 1.3rem
        color: #fff
        padding: 20px
        position: relative

        &:before
            content: ""
            position: absolute
            top: 0
            right: 100%
            height: 100%
            width: 8px
            background: url(../images/icons/left.svg) top right repeat-y
            background-size: contain

section.filmes-cartaz
    float: left
    width: 100%
    background: $color__brand--secondary
    padding-bottom: 200px

    &:before
        content: ""
        position: absolute
        width: 973px
        height: 1019px
        background-image: url(../images/icons/brazil.svg)
        background-repeat: no-repeat
        background-size: contain
        transform: translate(0, -75px)

        @media (max-width: 992px)
            display: none
        
    .filmes-cartaz__header
        display: inline-block
        width: 100%
        transform: translateY(-100px)

    .filmes-cartaz__movies
        display: inline-block
        width: 100%
        margin-bottom: 100px

        @media (max-width: 992px)
            margin-bottom: 30px
        
        .filmes-cartaz__movies-list
            width: 100%
            display: flex

            @media (max-width: 1200px)
                flex-wrap: wrap
                justify-content: center

        .filmes-cartaz__movies-item
            width: 100%
            cursor: pointer

            @media (max-width: 1200px)
                width: 16.66%

            @media (max-width: 992px)
                width: 20%

            @media (max-width: 768px)
                width: 25%

            .filmes-cartaz__movie-cover
                display: inline-block
                width: 100%
                background-size: cover
                background-repeat: no-repeat
                margin-bottom: 10px
                transition: .25s

                &:before
                    content: ""
                    display: block
                    width: 100%
                    padding-top: 145%

            .filmes-cartaz__movie-title
                width: 100%
                text-align: center
                color: $color__brand--primary
                font-size: 1.4rem
            
            &:hover
                .filmes-cartaz__movie-cover
                    transform: scale(1.1)
                    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.5)

    .content
        font-size: 1.7rem
        
        p
            margin-bottom: 1.5em

    .fb
        width: 100%
        display: inline-block
        position: relative

        h4
            color: $color__brand--primary
            font-size: 2.4rem
            margin-bottom: 20px
            text-indent: 40px

        &:before
            content: ""
            position: absolute
            top: 0
            right: 100%
            width: 112px
            height: 119px
            background: url(../images/icons/direction-bottom.svg) center no-repeat
            background-size: contain
            z-index: 10
            transform: translate(30px, 10px)

.cinegazin
    float: left
    width: 100%
    text-align: center
    transform: translateY(-200px)
    width: 100%
    height: 0
    overflow: visible

    img
        max-width: 100%

    @media (max-width: 992px)
        transform: translateY(-100px)

        img
            width: 600px

.programacao
    float: left
    display: inline-block
    width: 100%
    padding-top: 200px
    margin-bottom: 30px
    background: $color__blue--dark

    .programacao__button-wrapper
        text-align: center
        margin-top: 100px

        .programacao__button
            display: inline-flex
            background: $color__brand--secondary
            font-size: 1.8rem
            cursor: pointer
            transition: .25s
            position: relative

            span
                display: inline-block
                z-index: 99
                padding: 25px 100px 25px 50px

            &:hover
                background: darken($color__brand--secondary, 20)

            &:after
                content: ""
                width: 31px
                height: 31px
                display: inline-block
                background-image: url(../images/icons/right-yellow.svg)
                background-repeat: no-repeat
                transform: rotate(90deg) translate(-30%)
                position: absolute
                right: 60px
                top: 50%

    .city
        font-size: 4.8rem
        font-weight: 600
        text-align: center
        border-bottom: 1px solid $color__brand--primary
        padding: 15px 0
        margin-top: 30px

    .programacao__sessao-items
        display: inline-block
        width: 100%

        .programacao__sessao-item
            display: flex
            width: 100%
            border-bottom: 1px solid #fff
            padding-bottom: 30px
            margin-bottom: 10px

            &:last-child
                border-bottom: none

            div
                width: 100%

                &:nth-child(1)
                    max-width: 160px
                    padding-right: 30px

                &:nth-child(3)
                    max-width: 260px
                    display: inline-flex
                    align-items: center
                    align-content: center
                    justify-content: center
                    padding-left: 30px
                    padding-top: 70px
            
            h3, h4
                color: #fff
                font-weight: 600
                font-size: 2.4rem
                margin: 20px 0 30px 0

            ul
                width: 100%
                border-left: 1px solid #fff
                padding: 0 30px
                list-style: none

                li
                    color: $color__brand--primary
                    position: relative
                    margin: 3px 0
                    padding: 3px 0
                    padding-left: 70px
                    line-height: 1.2

                span
                    width: 70px
                    color: #fff
                    display: inline-block
                    position: absolute
                    left: 0
            
            figure
                padding: 20px 40px
                line-height: 1
                border: 1px solid #fff
                font-size: 2.4rem
                font-weight: 600
                color: $color__brand--secondary
                cursor: pointer
                transition: .25s

                &:hover
                    background: $color__brand--secondary
                    color: #fff
                    border-color: transparent

            @media (max-width: 768px)
                flex-wrap: wrap

                div
                    width: 100%
                    max-width: 100% !important
                    padding: 0 !important

                    ul
                        padding: 0
                        border: none

.ilustracao
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    height: 425px
    background: url(../images/ilustracao.png) bottom left no-repeat
    z-index: -1
    background-size: cover

.main-footer
    float: left
    width: 100%
    background: #fff
    padding: 50px 0

    .main-footer__body
        display: flex
        width: 100%
        justify-content: space-between
        color: #000
        align-items: center

.programacao-overlay
    position: absolute
    top: 50%
    left: -200vw
    background: #fff
    transform: translate(-50%, -50%)
    transition: .25s opacity
    opacity: 0
    color: #333
    padding: 50px

    &.--is-active
        position: fixed
        left: 50%
        width: 100vw
        height: 100vh
        z-index: 99
        opacity: 1
        z-index: 99
        overflow-x: visible
        overflow-y: scroll

    h3
        font-size: 3rem
        color: $color__brand--secondary

    ul
        display: flex
        flex-wrap: wrap
        padding: 0
        list-style: none
        margin-top: 30px
        margin-left: -15px
        margin-right: -15px
        justify-content: center

        li a
            display: inline-block
            min-width: 300px
            padding: 30px
            background: $color__brand--secondary
            margin: 15px
            color: #fff

            &:hover
                background: $color__brand--primary
                color: #fff


body.overflow
    overflow: hidden


#modal
    .fb-post
        min-height: 590px

    footer
        width: 100%
        display: flex

    .button
        display: inline-block
        width: 100%
        padding: 15px 0
        background: $color__brand--secondary
        color: #fff
        cursor: pointer
        text-decoration: none

        &.--close
            background: #fff
            color: $color__brand--secondary

        &:hover
            background: $color__brand--primary